body {
    background-color: #FFF;
    color: #222;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

#background-left {
    background-image: linear-gradient(to right, #F4BBF9, #FFF);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 40%;
    z-index: -1;
}

#background-left.selected {
    background-image: linear-gradient(to right, #D46BD9, #FFF);
    width: 50%;
}

#background-left.unselected {
    background-image: linear-gradient(to right, #FFF, #FFF);
}

#background-right {
    background-image: linear-gradient(to right, #FFF, #9DC9FF);
    height: 100%;
    left: 60%;
    position: fixed;
    top: 0;
    width: 40%;
    z-index: -1;
}

#background-right.selected {
    background-image: linear-gradient(to right, #FFF, #5D89CF);
    left: 50%;
    width: 50%;
}

#background-right.unselected {
    background-image: linear-gradient(to right, #FFF, #FFF);
}

#banner {
    background-position: center center;
    border-radius: 50% / 10%;
    height: 312px;
    position: relative;
    width: 450px;
}

#banner:before {
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -4.5%;
    position: absolute;
    right: -4.5%;
    top: 9%;
}

#banner-container {
    margin: 0 auto;
    width: 450px;
}

#clock-container {
    margin: 0 auto;
    width: 620px;
}

#form  {
    margin: 0 auto;
    width: 620px;
}

#form-container {
    padding: 30px 0 0 0;
    text-align: center;
}

#form-container td {
    padding: 5px;
}

#vote-choice {
    background-color: #EEE;
    border: 3px solid #BBB;
    margin: 15px;
    padding: 10px 0;
}

#vote-totals {
    background-color: #EEE;
    border: 3px solid #BBB;
    margin: 15px;
    padding: 10px 0;
}

#vote-totals .col-md-2 {
    padding: 2px 0;
}

#vote-totals .col-md-8 {
    background-color: #CCC;
    padding: 0;
}

#vote-totals .row {
    padding: 5px 0;
}

#vote-totals .selected {
    font-weight: bold;
}

.btn-left {
    background-color: #B44BB9 !important;
    border: none;
    border-bottom: 5px solid #941B99 !important;
    color: #FFF; 
}

    .btn-left:hover, .btn-left:focus {
        background-color: #D46BD9 !important;
        border: none;
        border-bottom: 5px solid #A43BA9 !important;
        color: #FFF;
    }

.btn-link {
    border: none;
    font-size: 80%;
}

.btn-primary {
    font-size: 250%;
    min-width: 100px;
}

.btn-right {
    background-color: #3D69AF !important;
    border: none;
    border-bottom: 5px solid #0D397F !important;
    color: #FFF;
}

    .btn-right:hover, .btn-right:focus {
        background-color: #5D89CF !important;
        border: none;
        border-bottom: 5px solid #2D599F !important;
        color: #FFF;
    }

.btn-submit {
    background-color: #BBB !important;
    border: none;
    border-bottom: 5px solid #999 !important;
    color: #222;
}

    .btn-submit:hover, .btn-submit:focus {
        background-color: #CCC !important;
        border: none;
        border-bottom: 5px solid #AAA !important;
        color: #222;
    }

.btn-submit.selected {
    background-color: #494 !important;
    border: none;
    border-bottom: 5px solid #146914 !important;
    color: #222;
}

.vote-left {
    background-color: #FFBBFD !important;
    border: 3px solid #DF9BDD !important;
    color: #222;
}

.vote-right {
    background-color: #BDD9FF !important;
    border: 3px solid #9DB9DF !important;
    color: #222;
}